* {
    box-sizing: border-box;
}

body {
    font-family: "Nunito sans", sans-serif;
    font-size: 20px;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
}

.logo {
    position: fixed;
    z-index: 1;
    top: 2em;
    right: 2em;
    /* height: 200px; */
}
.image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.registration {
    position: absolute;
    left: 2em;
    /* bottom: 2em; */
    display: flex;
    flex-direction: column;
    padding: 2em;
    /* background-color: #0000008c; */
}
.registration input {
    margin-bottom: 1em;
}

input,
button {
    font: inherit;
    font-size: inherit;
    line-height: 20px;
    white-space: nowrap;
    text-decoration: none;
    /* margin-bottom: 10px; */
    cursor: pointer;
    padding: 0.2em 0.4em;
    border: 0;
    border-radius: 2px;
    background-color: #ffffff29;
    color: black;
}

input[name="title"],
input[name="user"] {
    width: 135px;
    border-bottom: 1px solid grey;
}

input[type="file"] {
    /* margin-bottom: 10px; */
}
input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}
input[type="file"]::before {
    margin-bottom: 10px;
}
input[type="file"]::before,
button {
    content: "select file";
    display: inline-block;
    background-color: #99ecce;
    border: 0;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 400;
    /* box-shadow: 3px 3px 0px 0px hsla(0, 0%, 0%, 0.25); */
    margin-bottom: 0.5em;
}
input[type="file"]:hover::before {
    border-color: black;
}
input[type="file"]:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
button {
    background-color: #bf4520;
}

input[type="text"] {
    /* border: 1px solid gray; */
    /* border-radius: 0.15rem; */
    background: transparent;
    padding: 0.25rem 0.5rem;
    border: 0;
    /* border-bottom: 1px solid grey; */
}

textarea {
    flex-grow: 1;
    resize: none;
    width: 280px;
    font: inherit;
    font-size: inherit;
    padding: 0.25rem 0.5rem;
    margin-bottom: 10px;
    border: 0;
    /* border-bottom: 1px solid grey; */
    /* border-top: 1px solid grey; */
    background-color: #f1f1f1;
}

::placeholder {
    color: rgb(216, 216, 216);
}
