* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.01em;
    font-size: 20px;
    background: linear-gradient(
        to bottom,
        rgba(100, 100, 100, 0.3) 0%,
        rgb(255, 255, 255) 40%,
        rgba(255, 255, 255, 0.2) 100%
    );
    min-height: 100vh;
}

a,
a:visited {
    color: blue;
}

input,
button {
    font: inherit;
    font-size: 16px;
    line-height: 20px;
    /* white-space: nowrap; */
    text-decoration: none;
    /* margin-bottom: 10px; */
    cursor: pointer;
    padding: 0.2em 0.4em;
    border: 0;
    border-radius: 2px;
    background-color: hsla(0, 0%, 100%, 0.4);
    color: black;
}

input[name='title'],
input[name='user'] {
    width: 135px;
    border-bottom: 1px solid grey;
}

input[type='file'] {
    padding: 0;
    margin-bottom: 10px;
    border-radius: 2px;
}
input[type='file']::-webkit-file-upload-button {
    visibility: hidden;
}
input[type='file']::before {
    margin-bottom: 10px;
}
input[type='file']::before {
    text-align: center;
    width: 108px;
    content: 'select file';
    display: inline-block;
    background-color: #99ecce;
    border: 0;
    outline: none;
    padding: 0.2em 0.4em;
    border-radius: 2px;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 400;
    /* box-shadow: 3px 3px 0px 0px hsla(0, 0%, 0%, 0.25); */
    margin-bottom: 0;
}
input[type='file']:hover::before {
    border-color: black;
}
input[type='file']:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
button {
    background-color: #e3e637;
    width: 120px;
}

input[type='text'] {
    /* border: 1px solid gray; */
    /* border-radius: 0.15rem; */
    background: transparent;
    padding: 0.25rem 0.5rem;
    border: 0;
    /* border-bottom: 1px solid grey; */
}

textarea {
    resize: none;
    font: inherit;
    font-size: 0.8em;
    padding: 0.25rem 0.5rem;
    border: 0;
    background-color: #f1f1f1;
}

::placeholder {
    color: hsl(0, 0%, 50%);
}

/************************************************************/
.component {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px 0px #00000021;
    background-color: hsla(0, 0%, 0%, 0.2);
}

.component .tag {
    display: flex;
    margin-bottom: 10px;
    /* visibility: hidden; */
}

.component .tag span {
    font-size: 10px;
    padding: 2px 10px;
    color: rgba(255, 255, 255, 0.8);
    background-color: hsla(0, 0%, 0%, 0.3);
    border-radius: 0 0 10px;
    /* box-shadow: 2px 2px 4px 0px #00000021; */
}

.component .content {
    display: flex;
    padding: 5px 20px 20px 20px;
}

.component:nth-of-type(1),
.component:nth-of-type(1n + 6) {
    background-color: hsla(0, 0%, 100%, 0.25);
}
.component:nth-of-type(2),
.component:nth-of-type(2n + 6) {
    /* background-color: hsla(0, 80%, 50%, 0.5); */
    background: linear-gradient(
        to bottom,
        hsla(0, 50%, 50%, 0.5) 0%,
        hsla(0, 80%, 50%, 0.5) 40%,
        hsla(0, 80%, 50%, 0.5) 100%
    );
}
.component:nth-of-type(3),
.component:nth-of-type(3n + 6) {
    /* background-color: hsla(56, 80%, 50%, 0.5); */
    background: linear-gradient(
        to bottom,
        hsla(56, 50%, 50%, 0.5) 0%,
        hsla(56, 80%, 50%, 0.5) 40%,
        hsla(56, 80%, 50%, 0.5) 100%
    );
}
.component:nth-of-type(4),
.component:nth-of-type(4n + 6) {
    /* background-color: hsla(177, 80%, 50%, 0.5); */
    background: linear-gradient(
        to bottom,
        hsla(177, 50%, 50%, 0.5) 0%,
        hsla(177, 80%, 50%, 0.5) 40%,
        hsla(177, 80%, 50%, 0.5) 100%
    );
}
.component:nth-of-type(5),
.component:nth-of-type(5n + 6) {
    /* background-color: hsla(305, 80%, 50%, 0.5); */
    background: linear-gradient(
        to bottom,
        hsla(323, 50%, 50%, 0.5) 0%,
        hsla(323, 80%, 50%, 0.5) 40%,
        hsla(323, 80%, 50%, 0.5) 100%
    );
}
.component:nth-of-type(6),
.component:nth-of-type(6n + 6) {
    /* background-color: hsla(236, 80%, 50%, 0.5); */
    background: linear-gradient(
        to bottom,
        hsla(236, 50%, 50%, 0.5) 0%,
        hsla(236, 80%, 50%, 0.5) 40%,
        hsla(236, 80%, 50%, 0.5) 100%
    );
}
/************************************************************/
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    min-height: 100vh;
}

.image {
    font-size: 0;
}
.image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.logo {
    position: fixed;
    top: 2em;
    right: 2em;
}

.medium p {
    width: 150px;
}

/************************/
.welcome.component {
    width: 340px;
    /* background-color: hsla(219, 78%, 56%, 0.8); */
    background: linear-gradient(
        to bottom,
        hsla(219, 50%, 56%, 0.8) 0%,
        hsla(219, 78%, 56%, 0.8) 40%,
        hsla(219, 78%, 56%, 0.8) 100%
    );
    margin: auto;
}
.welcome .content {
    flex-direction: column;
}
.welcome .headline {
    font-family: 'Nunito', sans-serif;
    font-size: 2.5em;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0px 30px;
}
.welcome h1,
.welcome h2,
.welcome h3 {
    margin-bottom: 20px;
}
.welcome input {
    margin-bottom: 20px;
    width: 100%;
}
.welcome button {
    margin: 20px 0;
    width: 100%;
}

/************************/
.app.component {
    /* justify-content: space-between; */
    min-height: 100vh;
}
.app.content {
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

/************************/
.nav.component {
    /* display: flex; */
    /* flex-direction: column; */
}
.nav.content {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.nav.links {
    display: flex;
}
.nav.links > a {
    margin-right: 20px;
    background-color: hsla(0, 0%, 100%, 0.75);
    padding: 6px 20px;
    /* height: 40px; */
    box-shadow: 0px 5px 10px 0px #00000021;
}
.nav.content > div:first-child {
    width: 50px;
    height: 40px;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px 0px #00000021;
}
.nav.content > div:first-child a,
.nav.content > div:first-child a {
    color: white;
    font-size: 1.6em;
    font-weight: bold;
}
.nav .selected {
    text-decoration: none;
}

/************************/
.profile-pic.component {
    cursor: pointer;
}
.profile-pic.tag {
    position: absolute;
}
.profile-pic.content {
    padding: 0;
    margin: 0;
}
.profile-pic .image {
    width: 70px;
    height: 40px;
}

/************************/
.profile.component {
    flex-grow: 1;
}
.profile.content {
    flex-wrap: wrap;
}
.profile.content div:first-child {
    /* margin-right: 10px; */
}
.profile.content div:last-child {
    flex-grow: 1;
    /* align-self: flex-end; */
}
/************************/
.other-profile.component {
    flex-grow: 1;
}
.other-profile.content {
    flex-direction: column;
}
.other-profile .user.content {
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
}
.other-profile .user.content .bio {
    padding: 20px;
}
.other-profile .user.content > div:last-child {
    /* flex-grow: 1; */
    /* align-self: flex-end; */
}

/************************/
.bio-editor.content {
    flex-direction: column;
}
.bio-editor.content textarea {
    margin-bottom: 20px;
}
.bio-editor.content .buttons button:first-child {
    margin-right: 20px;
}

/************************/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 100%, 0.5);
}

/************************/
.uploader.component {
    background: linear-gradient(
        to bottom,
        hsla(0, 50%, 50%, 0.8) 0%,
        hsla(0, 80%, 50%, 0.8) 40%,
        hsla(0, 80%, 50%, 0.8) 100%
    );
    box-shadow: 20px 20px 0 0px #00000021;
}
.uploader.content {
    flex-direction: column;
    max-width: 100vw;
}

/************************/
.friends.component {
    flex-grow: 1;
}
.friends.content {
    flex-direction: column;
}
.friends-wannabes.component.friends {
    /* display: flex; */
}
.friends-wannabes.component .content {flex-wrap: wrap;justify-content: space-between;}

/************************/
.friend-button.content {
    padding: 15px;
}

/************************/
.find-people.component {
    flex-grow: 1;
}
.find-people.component > .content {
    flex-direction: column;
}
.find-people.content h3,
.find-people.content input {
    margin-bottom: 20px;
}
.find-people.content .people {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/************************/
.chat-group.component {
    flex-grow: 1;
}
.chat-group.content {
    flex-direction: column;
    padding: 5px 0px 20px 0px;
}
.chat-group.content h1 {
    padding: 0 20px;
}
.chat-group.content .messages-container {
    overflow-y: scroll;
    max-height: 50vh;
    box-shadow: inset 0px 10px 10px 0px #00000026;
}

/************************/
.message-container.component {
}
.message-container.content {
}
/* .message-container:nth-child(2n + 1) .content {
    flex-direction: row-reverse;
    text-align: right;
} */

/************************/
.message.component {
    flex-grow: 1;
}
.message.content {
    flex-direction: column;
    font-size: 0.8em;
}
.message.content > div {
    margin-bottom: 10px;
}
.message.sender,
.message .date {
    padding: 0 20px 5px 0;
    border-bottom: 1px solid black;
}
.message.sender {
    font-weight: bold;
}

/************************/
.user.component.medium {
    justify-content: space-between;
}
.user.small .image {
    width: 75px;
    height: 75px;
}
.user.medium .image {
    width: 150px;
    height: 150px;
}
.user.large .image {
    width: 300px;
    height: 300px;
}
.user .content {
    flex-direction: column;
}

/************************************************************/
.error {
    color: white;
    background-color: indianred;
    border-radius: 500px;
    text-align: center;
    padding: 3px 20px;
    margin-bottom: 20px;
}

/************************************************************/
@media (max-width: 500px), (max-height: 500px) {
    body {
        font-size: 20px;
    }
    .nav.content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav.links {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .profile-pic.component {
        display: none;
    }
    .find-people.content .people,
    .message-container.content,
    .friends-wannabes.component .content {
        flex-direction: column;
        flex-wrap: inherit;
    }

    .user.medium p {
        width: auto;
    }
    .user.medium .image {
        width: 100%;
        height: 50vw;
    }
    .user.large .image {
        width: 300px;
        height: 300px;
    }
}
