* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Nunito sans', sans-serif;
    font-size: 20px;
    background: linear-gradient(
        to bottom,
        rgba(100, 100, 100, 0.3) 0%,
        rgb(255, 255, 255) 40%,
        rgba(255, 255, 255, 0.2) 100%
    );
    height: 100%;
}

.welcome {
    display: flex;
    height: 100%;
}

.image,
.form {
    width: 50%;
}

.image {
    font-size: 0;
}
.image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #a4a989;
}

.logo {
    position: fixed;
    top: 2em;
    right: 2em;
}

.headline {
    font-family: 'Nunito', sans-serif;
    font-size: 4em;
    margin-right: 200px;
}

.form div {
    display: flex;
    flex-direction: column;
    padding: 40px;
    /* background-color: #0000008c; */
}
.form input {
    margin-bottom: 1em;
    display: block;
}

input,
button {
    font: inherit;
    font-size: inherit;
    line-height: 20px;
    white-space: nowrap;
    text-decoration: none;
    /* margin-bottom: 10px; */
    cursor: pointer;
    padding: 0.2em 0.4em;
    border: 0;
    border-radius: 2px;
    background-color: #ffffff29;
    color: black;
}

input[name='title'],
input[name='user'] {
    width: 135px;
    border-bottom: 1px solid grey;
}

input[type='file'] {
    /* margin-bottom: 10px; */
}
input[type='file']::-webkit-file-upload-button {
    visibility: hidden;
}
input[type='file']::before {
    margin-bottom: 10px;
}
input[type='file']::before,
button {
    content: 'select file';
    display: inline-block;
    background-color: #99ecce;
    border: 0;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 400;
    /* box-shadow: 3px 3px 0px 0px hsla(0, 0%, 0%, 0.25); */
    margin-bottom: 0.5em;
}
input[type='file']:hover::before {
    border-color: black;
}
input[type='file']:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
button {
    background-color: #7d775d;
}

input[type='text'] {
    /* border: 1px solid gray; */
    /* border-radius: 0.15rem; */
    background: transparent;
    padding: 0.25rem 0.5rem;
    border: 0;
    /* border-bottom: 1px solid grey; */
}

textarea {
    flex-grow: 1;
    resize: none;
    width: 280px;
    font: inherit;
    font-size: inherit;
    padding: 0.25rem 0.5rem;
    margin-bottom: 10px;
    border: 0;
    /* border-bottom: 1px solid grey; */
    /* border-top: 1px solid grey; */
    background-color: #f1f1f1;
}

::placeholder {
    color: rgb(216, 216, 216);
}

.user.profile.image.small {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 75px;
    height: 75px;
}
.user.profile.image.medium {
    width: 300px;
    height: 300px;
}
.user img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal div {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffffdd;
    box-shadow: 50px 50px 2px 0px #00000021;
}
